<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>｛｛ page.title ｝｝ - @kusakabe-dev</title>
    <style>
      @media print {
        /* 職歴の各セクションなどが途中で切れないようにする */
        section, .job-history-item, .project-item {
          break-inside: avoid;
        }

        /* 不要なヘッダーやフッター、ナビゲーションを隠す */
        header, footer, .nav-links {
          display: none;
        }

        /* ページ余白の調整 */
        @page {
          margin: 20mm;
        }
      }
    </style>
  </head>

  <body>
    ｛｛ content ｝｝
  </body>
</html>